:root {
  --gray-light2: #4a4c51;
  --gray-light1: #424549;
  --gray: #36393e;
  --gray-dark1: #2e3136;
  --gray-dark2: #282b30;
  --gray-dark3: #1e2124;
  --red: #f04747;
  --green: #43b581;
  --blue: #7289da;
  --orange: #faa61a;
  --deep-orange: #f26522;
  --light-gray: #99aab5;
}

/* Colors */
.red {
  background-color: var(--red);
}

.red-txt {
  color: var(--red);
}

.green {
  background-color: var(--green);
}

.green-txt {
  color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.blue-txt {
  color: var(--blue);
}

/* Some reset and layouts */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  background-color: var(--gray);
  user-select: none;
}

main {
  --nav-height: 3.5rem;
  min-height: 100vh;
  display: grid;
  grid-template: var(--nav-height) 1fr auto / 1fr;
  grid-gap: 15px;
}

main.normal-layout > section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main.center-layout > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.split-layout > section {
  display: grid;
  grid-template: 1fr / 3fr 2fr;
  grid-gap: 15px;
}

main.inventory-layout > section {
  display: grid;
  grid-template: 200px 1fr / 200px 3fr 2fr;
  grid-gap: 15px;
}

main.inventory-layout > section section {
  grid-column: span 2;
}

.center-self {
  justify-self: center;
  align-self: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

/* Hide elements on different sizes */
.hide {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .hide-s,
  .hide-s-m {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .hide-s-m,
  .hide-m,
  .hide-m-l {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-m-l,
  .hide-l {
    display: none !important;
  }
}

/* Responsive container */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

/* Navigation */

.app-icon {
  height: 100%;
}

.app-name {
  font-family: "Courgette", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: var(--gray-dark3);
}

header > .container {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template: 1fr / repeat(2, auto) 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
}

@media only screen and (max-width: 600px) {
  header > .container {
    grid-template: 1fr / auto 1fr;
  }
}

header h2 {
  margin: 0;
}

header nav {
  display: grid;
  grid-template: 1fr / 1fr auto;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.no-gap {
  gap: 0;
}

.balance {
  color: var(--green);
}

/* Panels */

.panel {
  border-radius: 5px;
  background-color: var(--gray-light2);
  padding: 10px;
}

.vertical-view {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .vertical-view {
    width: 60%;
  }
}

@media only screen and (min-width: 993px) {
  .vertical-view {
    width: 30%;
  }
}

/* Footer */

footer {
  background-color: var(--gray-dark3);
  color: var(--light-gray);
  text-align: center;
  font-size: 0.8rem;
  padding: 5px 0;
}

/* Sign in & Sign up */
.vertical-view h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2em;
}

.vertical-view h3 .material-icons {
  font-size: inherit;
}

/* Home */
.splash {
  min-height: 18vh;
}

.splash:nth-child(even) {
  background-color: var(--gray-light1);
}

.splash .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.splash h2 {
  font-size: 2.6em;
  font-family: "Courgette", Verdana, Geneva, Tahoma, sans-serif;
}

.splash h4 {
  font-size: 1.3em;
}

.splash img {
  height: 18vh;
}

/* Chests */
.chests {
  display: inline-grid;
  grid-template: auto / repeat(2, auto);
  grid-auto-rows: auto;
  grid-gap: 15px;
}

.chests .item {
  margin: 0;
}

.center-align {
  text-align: center;
}

.full-size {
  min-height: 100%;
  box-sizing: border-box;
}

.chest-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.background {
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

figure.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid var(--blue);
  flex-direction: column;
}

figure.background .balance {
  position: absolute;
  top: 5%;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 2em;
  background-color: rgba(25, 25, 25, 0.5);
}

figure.background img {
  transform: translate(0, 20%);
  width: 80%;
}

.current-chest {
  display: grid;
  grid-template: repeat(3, auto) 1fr auto / 1fr;
  grid-gap: 5px;
}

.current-chest p {
  padding: 5px;
  margin: 0;
}

ul.drop-rates {
  list-style: none;
  margin: 0;
  padding: 5px;
}

ul.drop-rates li {
  display: flex;
  align-items: center;
  height: 1.8em;
  gap: 10px;
}

.buy-form {
  display: grid;
  grid-template: auto / 1fr 100px;
  grid-gap: 5px;
}

.buy-form input {
  text-align: center;
}

/* Payments */

.payment {
  display: grid;
  grid-template: repeat(2, auto) / auto 1fr auto;
  align-items: center;
  grid-gap: 5px;
}

.payment input,
.payment img {
  grid-column: span 2;
}

.payment img {
  height: 2.5rem;
}

/* Items */

.item {
  width: 256px;
  height: 256px;
  display: inline-grid;
  grid-template: 1fr auto / 1fr;
  border-radius: 5px;
  border: 2px solid rgb(100, 100, 100);
  overflow: hidden;
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  grid-area: 1 / 1 / span 2 / span 1;
}

.item figcaption {
  grid-area: 2 / 1 / span 1 / span 1;
  text-align: center;
  background-color: rgb(100, 100, 100);
}

/* Current chest */

/*.item#winner {
  border-color: rgb(150, 150, 150);
}

.item#winner figcaption {
  background-color: rgb(150, 150, 150);
}*/

/* Item colors */
.common {
  background-color: #99aab5;
}

.common-txt {
  color: #99aab5;
}

.uncommon {
  background-color: white;
}

.uncommon-txt {
  color: white;
}

.rare {
  background-color: #2196f3;
}

.rare-txt {
  color: #2196f3;
}

.epic {
  background-color: #9c27b0;
}

.epic-txt {
  color: #9c27b0;
}

.legendary {
  background-color: #ff9800;
}

.legendary-txt {
  color: #ff9800;
}

/* Animation test */

.opening-view {
  display: grid;
  grid-template: repeat(2, auto) 1fr / repeat(2, 1fr);
}

.opening-view h2 {
  grid-column: span 2;
}

#open-animation {
  grid-column: span 2;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: 2px solid var(--blue);
}

#open-animation > .inner {
  width: max-content;
  transition: opacity 1s;
  opacity: 0;
}

#open-animation > .line {
  width: 4px;
  border-radius: 2px;
  height: 100%;
  background-color: var(--red);
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  z-index: 10;
  transition: opacity 1s;
  opacity: 0;
}

#open-animation.show > .inner,
#open-animation.show > .line {
  opacity: 1;
}

#open-animation .item {
  background-color: var(--gray-dark3);
  cursor: default;
}

figure.item.tiny {
  width: 20px;
  height: 20px;
  margin: 0;
  border-width: 1px;
}

figure.item {
  background-color: var(--gray);
}

.item.common {
  border-color: #99aab5;
}

.item.common figcaption {
  background-color: #99aab5;
  color: var(--gray-dark3);
}

.item.uncommon {
  border-color: white;
}

.item.uncommon figcaption {
  background-color: white;
  color: var(--gray-dark3);
}

.item.rare {
  border-color: #2196f3;
}

.item.rare figcaption {
  background-color: #2196f3;
  color: white;
}

.item.epic {
  border-color: #9c27b0;
}

.item.epic figcaption {
  background-color: #9c27b0;
  color: white;
}

.item.legendary {
  border-color: #ff9800;
}

.item.legendary figcaption {
  background-color: #ff9800;
  color: white;
}

.split-img {
  --size: 384px;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: calc(50% - (var(--size) / 2));
  left: calc(50% - (var(--size) / 2));
  animation: split-img 1s ease-in-out 1s forwards;
}

@keyframes split-img {
  0% {
    gap: 0;
    transform: translate(0, 0);
  }
  100% {
    gap: 300px;
    transform: translate(0, -150px);
  }
}

.split-img img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.split-img img:last-child {
  object-position: bottom;
}

/* Inventory item list */

.item-view {
  display: flex;
  flex-direction: column;
}

.item-grid {
  display: grid;
  grid-template: auto / repeat(5, 132px);
  grid-auto-rows: auto;
  grid-gap: 10px;
  width: max-content;
}

.item-grid .item {
  width: 128px;
  height: 128px;
  margin: 0;
}

/* Account settings */
.account-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.account-view input {
  width: 100%;
  box-sizing: border-box;
}

.account-view button {
  width: max-content;
}

.current-item {
  display: grid;
  grid-template: repeat(3, auto) 1fr auto / 1fr;
  grid-gap: 10px;
}

.current-item h2 {
  text-align: center;
}

.current-item img {
  width: 100%;
  height: 256px;
  object-fit: contain;
}

.current-item p {
  padding: 5px;
}

.item-props {
  list-style: none;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  display: grid;
  width: 100%;
  grid-template: auto / repeat(2, 1fr);
  text-align: center;
  background-color: var(--gray-dark2);
}
